# Virtual environments
venv/
.env/
.envrc

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build / distribution
build/
dist/
*.egg-info/

# Logs
*.log

# Jupyter notebooks
.ipynb_checkpoints/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
